.txt-shrikhand {
    font-family: 'Shrikhand', cursive;
}

.txt-saira {
    font-family: 'Saira Extra Condensed', sans-serif;
}

.txt-spacing-s {
    letter-spacing: .1rem;
}

.txt-spacing-m {
    letter-spacing: 1rem;
}

.italic {
    font-style: italic;
}

.text-justify {
    text-align: justify;
}