.border-md-end {
    @include pad {
        border-right: 1px solid #fff;
    }
}

.favicon {
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.fill-icon {
    font-variation-settings: 'FILL' 1;
}

.ball-s {
    font-size: 16px;
}

.ball-l {
    font-size: 32px;
}