<footer class="py-lg-12 py-10">
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex flex-column">
                <h2 class="txt-shrikhand footer-logo fs-4">ALPHABOX+</h2>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <span class="material-symbols-outlined favicon">emergency</span>
            </div>
            <div class="col-5 ">
                <ul class="footer-nav nav">
                    <li class="nav-item fw-bold">
                        <a href="about.html" class="nav-link">關於我們</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a href="product.html" class="nav-link">產品資訊</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a href="faq.html" class="nav-link">常見問題</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a href="privacy.html" class="nav-link">隱私政策</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="txt-spacing-s copyright fw-bold mt-2">Copyright © 2023 Hexschool.</p>
    </div>
</footer>