<header class="sticky-top">
    <nav class="navbar bg-primary py-5">
        <div class="container">
            <div>
                <a href="index.html">
                    <h1 class="fs-4 text-white txt-shrikhand">ALPHABOX+</h1>
                </a>
            </div>
            <div class="d-lg-flex justify-content-between align-items-center flex-grow-1 d-md-none d-none">
                <ul class="nav gap-lg-10 gap-md-6 d-flex justify-content-center mx-auto">
                    <li class="nav-item">
                        <a href="product.html" class="nav-link text-white" aria-current="page">產品</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link text-white">關於我們</a>
                    </li>
                    <li class="nav-item">
                        <a href="news.html" class="nav-link text-white">最新消息</a>
                    </li>
                    <li class="nav-item">
                        <a href="faq.html" class="nav-link text-white">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link text-white">聯絡我們</a>
                    </li>
                </ul>
                <ul class="nav gap-6 d-flex align-items-center">
                    <li class="nav-item">
                        <a href="" class="nav-link text-white">註冊</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-white">登入</a>
                    </li>
                    <button class="btn btn-white rounded-1 d-flex align-items-center">
                        <span class="material-symbols-outlined">point_scan</span>訂閱</button>
                </ul>
            </div>



            <button class="navbar-toggler px-0 d-lg-none d-md-block" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <div class="mob-nav collapse navbar-collapse line-bg-gradient" id="navbarNav">
                <div class="d-sm-block d-lg-none">
                    <ul class="gap-2 d-flex flex-column align-items-center mb-2">
                        <li class="nav-item">
                            <a href="product.html" class="nav-link text-white" aria-current="page">產品</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link text-white">關於我們</a>
                        </li>
                        <li class="nav-item">
                            <a href="news.html" class="nav-link text-white">最新消息</a>
                        </li>
                        <li class="nav-item">
                            <a href="faq.html" class="nav-link text-white">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link text-white">聯絡我們</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white">註冊</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white">登入</a>
                        </li>
                        <button class="btn btn-sm btn-white rounded-1 d-flex align-items-center">
                            <span class="material-symbols-outlined">point_scan</span>訂閱</button>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>