<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/images/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>

  <body>
    <div class="min-vh-100 d-flex flex-column">
      <%- include('./layout/header'); -%>
      <main class="bg-light">
        <div class="container pt-15 pt-md-16 pb-20 pb-md-30">
          <h2 class="fs-3 txt-spacing-m fw-bold mb-10 mb-md-16">FAQ</h2>
          <div class="dashed"></div>
          <div class="row">
            <div class="col-12 col-md-4">
              <ul class="d-flex flex-column gap-4 mt-6 mt-md-10">
                <li>
                  <a class="item-link" href="#"> ALPHABOX+ 使用問題 </a>
                </li>
                <li>
                  <a class="item-link" href="#"> 訂購與運送 </a>
                </li>
                <li>
                  <a class="item-link" href="#"> 產品保養與維修 </a>
                </li>
              </ul>
              <div class="dashed d-block d-md-none mt-6"></div>
            </div>

            <div class="col-12 col-md-8">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item border-0">
                  <h3
                    class="accordion-header fs-6"
                    id="panelsStayOpen-headingOne"
                  >
                    <button
                      class="accordion-button mt-8 mt-md-10"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne"
                      aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne"
                    >
                      ALPHABOX+ 的使用方式是什麼？
                    </button>
                  </h3>
                  <div
                    id="panelsStayOpen-collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne"
                  >
                    <div class="accordion-body pt-4">
                      首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </div>
                  </div>
                </div>
                <div class="dashed mt-6 mt-md-10"></div>

                <div class="accordion-item border-0">
                  <h3
                    class="accordion-header fs-6"
                    id="panelsStayOpen-headingTwo"
                  >
                    <button
                      class="accordion-button mt-8 mt-md-10 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseTwo"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseTwo"
                    >
                      ALPHABOX+ 需要什麼樣的環境來使用？
                    </button>
                  </h3>
                  <div
                    id="panelsStayOpen-collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo"
                  >
                    <div class="accordion-body pt-4">✧*｡٩(ˊᗜˋ*)و✧*｡</div>
                  </div>
                </div>
                <div class="dashed mt-6 mt-md-10"></div>

                <div class="accordion-item border-0">
                  <h3
                    class="accordion-header fs-6"
                    id="panelsStayOpen-headingThree"
                  >
                    <button
                      class="accordion-button mt-8 mt-md-10 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseThree"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree"
                    >
                      ALPHABOX+ 支援哪些語言？
                    </button>
                  </h3>
                  <div
                    id="panelsStayOpen-collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree"
                  >
                    <div class="accordion-body pt-4">✧*｡٩(ˊᗜˋ*)و✧*｡</div>
                  </div>
                </div>
                <div class="dashed mt-6 mt-md-10"></div>

                <div class="accordion-item border-0">
                  <h3
                    class="accordion-header fs-6"
                    id="panelsStayOpen-headingfour"
                  >
                    <button
                      class="accordion-button mt-8 mt-md-10 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapsefour"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapsefour"
                    >
                      ALPHABOX+ 的軟體更新方式為何？
                    </button>
                  </h3>
                  <div
                    id="panelsStayOpen-collapsefour"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingfour"
                  >
                    <div class="accordion-body pt-4">✧*｡٩(ˊᗜˋ*)و✧*｡</div>
                  </div>
                </div>
                <div class="dashed mt-6 mt-md-10"></div>

                <div class="accordion-item border-0">
                  <h3
                    class="accordion-header fs-6"
                    id="panelsStayOpen-headingfive"
                  >
                    <button
                      class="accordion-button mt-8 mt-md-10 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapsefive"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapsefive"
                    >
                      購買 ALPHABOX+ 後的售後服務如何？
                    </button>
                  </h3>
                  <div
                    id="panelsStayOpen-collapsefive"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingfive"
                  >
                    <div class="accordion-body pt-4">✧*｡٩(ˊᗜˋ*)و✧*｡</div>
                  </div>
                </div>
                <div class="dashed mt-6 mt-md-10"></div>

                <div class="accordion-item border-0">
                  <h3
                    class="accordion-header fs-6"
                    id="panelsStayOpen-headingsix"
                  >
                    <button
                      class="accordion-button mt-8 mt-md-10 collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapsesix"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapsesix"
                    >
                      ALPHABOX+ 與其他智能家居設備的相容性如何？
                    </button>
                  </h3>
                  <div
                    id="panelsStayOpen-collapsesix"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingsix"
                  >
                    <div class="accordion-body pt-4">✧*｡٩(ˊᗜˋ*)و✧*｡</div>
                  </div>
                </div>
                <div class="dashed mt-6 mt-md-10"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('./layout/footer'); -%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
